.asiento{
    width: 100px;
    height: 100px;
    background-color: rgba(36, 108, 85, 0.614);
    border-radius: 30px;
}
.asiento:hover{
    background-color: rgb(139, 0, 63);
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}
.varandal{
      display: block;
      position: absolute;
      left: 8px;
      right: 8px;
      bottom: 320px;
      height: 40px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom: 30px solid #656d6e;
      border-left: 8px solid #656d6e;
      border-right: 8px solid #656d6e;
      border-top: none;
      background: transparent;
      width: 84px;
}
