
.cabina {
    
    display: grid;
    background-color: #a0a0a0;
    grid-template-columns: repeat(3, 100px) 80px repeat(3, 100px); 
    gap: 20px; 
    justify-content: center;
    padding: 50px;
}
.cabinavp {
    display: grid;
    background-color: #bababa;
    grid-template-columns:  repeat(2, 100px)  280px repeat(2, 100px); 
    gap: 20px; 
    justify-content: center;
    padding: 50px;
    box-sizing: border-box 50px;
}

.asientob {
    position: relative; 
    width: 100px;
    height: 100px;
    background-color: #7FC7CC;
    border-radius: 30px;
}

.asientov {
    position: relative; 
    width: 100px;
    height: 100px;
    background-color: #E4CBA9;
    border-radius: 30px;
}

.asientob.seleccionado, .asientov.seleccionado {
    background-color: #092F33;
    transition: 0.3s;
}

.varandal {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px; 
    height: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 20px solid #656d6e;
    border-left: 8px solid #656d6e;
    border-right: 8px solid #656d6e;
    background: transparent;
}

.pasillo {
    background-color: transparent;
    width: 80px;
}