nav{
    height: 150px;
    width: auto;
    background-color: beige;
}
header {
  width: auto;
  height: 800px;
  background-color: #6b6b6b; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  

}
input {
  width: 200px;
  height: 30px;
  margin-top: 20px;
  block-size: 25px;
  border-radius: 10px;
}